:root {

  --Giang-primary-color: #00c894;
  --Giang-primary-color-1: #007355;
  --Giang-primary-color-hover: #e3fff8;
  --Giang-background-color: #F9F9F9;
}
body{
	line-height: 1.5;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--Giang-background-color);
}
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
  border: 0;
}
a {
	text-decoration: none;
  color: black;
}
ul, ol{
	list-style: none;
}

.GiangContent {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* button */
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--Giang-primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--Giang-primary-color-1);
}

.primaryBtn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.primaryBtn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .GiangContent {
    padding: 80px 10px 30px 10px;
  }
  .primaryBtn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .GiangContent {
    padding: 80px 10px 30px 10px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Styles cho desktop */
  .GiangContent {
    padding: 100px 10px 30px 10px;
  }
}
