:root {

  --Giang-primary-color: #00c894;
  --Giang-primary-color-1: #007355;
  --Giang-primary-color-hover: #e3fff8;
  --Giang-background-color: #F9F9F9;
}
body{
	line-height: 1.5;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--Giang-background-color);
}
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
  color: black;
}
ul, ol{
	list-style: none;
}

.GiangContent {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .GiangContent {
    padding: 80px 10px 30px 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .GiangContent {
    padding: 80px 10px 30px 10px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Styles cho desktop */
  .GiangContent {
    padding: 100px 10px 30px 10px;
  }
}