.products{
    padding: 3.2rem 0;
}
.products .textLight{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
@media screen and (min-width: 800px){
    .productItems{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .productItems{
        grid-template-columns: repeat(4, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .textLight{
        width: 50%;
    }
}