
.Giang_0 {
    border: 0.8px solid rgb(221, 221, 221);
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
    padding: 0px;
}

.Giang_1 {
    background: rgb(246, 246, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 10px 15px 8px;
    border-bottom: 0.8px solid rgb(221, 221, 221);
    line-height: 19.5px;
    font-size: 13px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
}

.Giang_2 {
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
    padding: 0px;
}

.Giang_3 {
    padding: 15px 15px 5px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
}

.Giang_4 {
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.Giang_5 {
    margin-left: 15px;
    padding: 5px 0px;
    position: relative;
    box-sizing: border-box;
    text-rendering: geometricprecision;
}

.Giang_5:before {
    content: "";
    background: url(//4.bp.blogspot.com/-MXfXt79CRP8/X2hfSLxpmPI/AAAAAAAAVck/qMiXifr_QWsp2LXZdTHGt2C1ObFZwlaHgCLcBGAsYHQ/s1600/check%25402x.png);
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
}

.Giang_10 {
    border: 0.8px solid rgb(208, 2, 27);
    border-radius: 4px;
    padding: 20px 15px 5px;
    position: relative;
    overflow: visible;
    margin: 20px 0px 10px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
}

.Giang_11 {
    background: rgb(236, 25, 51) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 13px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -13px;
    left: 10px;
    vertical-align: middle;
    line-height: 26px;
    clear: both;
    padding: 0px 15px 0px 30px;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
}

.Giang_11:before {
    content: "";
    background: url(//4.bp.blogspot.com/-ZkXWbO2N8Mo/X2hkPGIOglI/AAAAAAAAVdI/Q_dqTpLJc_YZeuAlqSD_jtcXKuS5gqL6ACLcBGAsYHQ/s1600/icon-gift.png);
    width: 16px;
    height: 15px;
    background-size: 16px 15px;
    float: left;
    margin: 4px 5px 0 -15px;
}

.Giang_12 {
    box-sizing: border-box;
    text-rendering: geometricprecision;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.container{
    margin: 0px 0px 10px 0px;
    padding: 5px;
    background-color: #fff;
    max-width: 1200px;
    border-radius: 3px;
}
img{
    width: 100%;
    display: block;
}
.imgDisplay{
    overflow: hidden;
}
.imgShowcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.imgShowcase img{
    object-fit: cover;
    min-width: 100%;
}
.imgSelect{
    display: flex;
}
.imgItem{
    border: 1px solid #ccc;
    margin: 0.3rem;
}
.imgItem:nth-child(1),
.imgItem:nth-child(2),
.imgItem:nth-child(3){
    margin-right: 0;
}
.imgItem:hover{
    opacity: 0.8;
}
.productContent{
    padding: 2rem 1rem;
}
.productTitle{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    margin: 1rem 0;
}
.productTitle::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 80px;
    background: #e5e5e5;
}

.productPrice {
    line-height: 40px;
}

.productPrice .price {
    font-size: 1.5rem;
    color: #222529;
    font-weight: 600;
}

.productPrice .oldPrice {
    margin-left: 8px;
    text-decoration: line-through;
    color: #a7a7a7;
    font-size: 1.3rem;
    font-weight: 500;
}

.purchaseInfo{
    margin: 1.5rem 0;
}
.purchaseInfo input,
.purchaseInfo .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchaseInfo input{
    width: 60px;
}
.purchaseInfo .btn{
    cursor: pointer;
    color: #fff;
}
.purchaseInfo .btn:first-of-type{
    background: #256eff;
}
.purchaseInfo .btn:last-of-type{
    background: #f64749;
}
.purchaseInfo .btn:hover{
    opacity: 0.9;
}

@media screen and (min-width: 992px){
    .card{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .productImgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .productContent{
        padding-top: 0;
    }
}