.Giang_0 {
    position: relative;
    max-width: 1200px;
    height: 700px;
    margin: 0px auto;
    padding: 0px;
}

.Giang_1 {
    max-width: 1200px;
    height: 400px;
    margin: 0px 20px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_2 {
    top: 55px;
    background-color: #63636312;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 402px;
    overflow: hidden;
    transition: all 0.15s linear 0s;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_3 {
    width: 541px;
    height: 175px;
    top: 400px;
    left: 113px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_4 {
    position: absolute;
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_5 {
    width: 541px;
    height: 175.188px;
    background-image: url('assets/images/untitled-1-06-20230801083437-fqhg3.png');
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0px auto;
    pointer-events: none;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_7 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_8 {
    width: 548px;
    top: 150px;
    left: 63px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_9 {
    font-size: 20px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 100%;
    display: inline-block;
    word-break: break-word;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_10 {
    width: 411px;
    top: 450px;
    left: 167.5px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_11 {
    font-size: 20px;
    line-height: 21.6px;
    color: rgb(255, 255, 255);
    text-align: justify;
    width: 100%;
    display: inline-block;
    word-break: break-word;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_18 {
    width: 449px;
    height: 355.212px;
    top: 70px;
    left: 679px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_19 {
    position: absolute;
    width: 100%;
    height: 355.212px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_20 {
    width: 449px;
    height: 355.212px;
    background-image: url('assets/images/artboard-3-20230731142502-mic4f.png');
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0px auto;
    pointer-events: none;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_21 {
    width: 459px;
    height: 649.188px;
    top: 0;
    left: 677px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_22 {
    position: absolute;
    width: 100%;
    height: 649.188px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_23 {
    width: 459px;
    height: 716.037px;
    background-image: url('assets/images/minhgiang.png');
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0px auto;
    pointer-events: none;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_24 {
    width: 423px;
    left: 682px;
    top: 480px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_25 {
    font-size: 36px;
    font-weight: 700;
    line-height: 57.6px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.Giang_27 {
    font-size: 24px;
    line-height: 38.4px;
    color: rgb(228, 28, 36);
    text-align: center;
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(228, 28, 36);
    outline: rgb(228, 28, 36) none 0px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {
    .Giang_0 {
        height: 1100px;
    }

    .Giang_2 {
        top: 50px;
        left: 8px;
        width: 97%;
    }

    .Giang_8,
    .Giang_6 {
        width: 100%;
        left: 28px;
        padding-right: 70px;

    }

    .Giang_6 {
        top: 80px;
    }

    .Giang_18 {
        top: 500px;
        width: 100%;
        left: 0px;
        right: 0px;
    }

    .Giang_19 {
        left: 0px;
        right: 0px;
        width: 435px;
        margin: 0px auto;
    }

    .Giang_21 {
        top: 340px;
        width: 100%;
        left: 0px;
        right: 0px;
    }

    .Giang_22 {
        left: 0px;
        right: 0px;
        width: 435px;
        margin: 0px auto;
    }

    .Giang_24 {
        top: 810px;
        width: 100%;
        left: 0px;
        right: 0px;
    }

    .Giang_3 {
        top: 880px;
        left: 0;
    }

    .Giang_10 {
        top: 925px;
        left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .Giang_3 {
        top: 1000px;
        left: -30px;
        width: 120%;
    }

    .Giang_10 {
        top: 1045px;
        left: 0;
    }

    .Giang_21 {
        top: 444px;
    }

    .Giang_24 {
        top: 935px;
    }
}

@media only screen and (max-width: 490px) {
    .Giang_10 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 950px) {}

@media only screen and (max-width: 600px) {
    /* style mobile */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles cho tablet */
}

@media only screen and (min-width: 1025px) {}